[submodule "deps/heist"]
	path = deps/heist
	url = https://github.com/snapframework/heist
[submodule "deps/xmlhtml"]
	path = deps/xmlhtml
	url = https://github.com/snapframework/xmlhtml
[submodule "deps/reflex-dom-contrib"]
	path = deps/reflex-dom-contrib
	url = https://github.com/reflex-frp/reflex-dom-contrib
